<% layout('layouts/boilerplate') -%>
	 <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

	<div id='map'></div>
	  <!-- <form action='/register' method='POST'>
		  <input type="text" name="username" />
		  <input type='password' name='password' />
		  <input type='email' name='email' />
		  <input type="text" name="image" />
		  <button>
			  Submit
		  </button>
	  </form>
   -->

<script>
mapboxgl.accessToken = '<%= mapBoxToken %>' 
	
	var posts = { features: <%- JSON.stringify(posts) %> };
</script>

<script src='/javascripts/allPostsClusterMap.js'></script>
